
  
    {% extends 'base.html' %}


{% block body %}
    <div style="background-color: #436940;" >  
    <h1 class="display-7 text-center "><b>Welcome All People!!!</b></h1>
    
    



    <h1 class=" display-7 text-center"><b>to</b></h1>

   


    <h1 class="display-7 text-center"><b>Lead Data Tracker</b></h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <h1><b> The Goal of My Website:</b></h1>
          <p >To provide a database of lead concentration data to anybody who chooses to use my website. Use the maps feature to record and locate different lead concentration readings in hopes of keeping people safe. I find this very relevant as these issues adversely affect teens and children.<p> </p></p>
        </div>
    </div>
    </div>

 

          
     <div  class="text-center">
   <img src="/static/info_graphic.jpg" width = "800" height = "500" alt="..."> 

  </div>


    
    


    

    {% endblock %}