<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}




<h1 class="display-4 text-center "><b>Extra Info</b></h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center"><b>My Passion For Reducing Lead Pollution</b></h1>
        <p> I am  passionate about reducing lead pollution because of the neighborhood I grew up in. For a while, I always just assumed my neighborhood was filled with pollutants because of how poor it was and because there was a lot of pollution in the poor areas around the city like mine. As a rising junior, I attended a program where I went around and collected soil to sample it. I sent these samples back to a lab where they were tested for lead. When these results came in, they ended up being littered with red samples, showing that my neighborhood was highly polluted with lead. Though eradicating lead pollution is one of my passions, I feel a passion for environmental science as a whole.
            </p>
                </div>


    <div class="col-5 mx-5 my-5 border border-5">
        <p></p>
        <h1 class="display-5 text-center"><b>Lead Pollution and the Dangers of it</b></h1>
        <p>Lead pollution is caused by poor building practices and high amounts of pollution. Two issues that tend to run rampant in impoverished communities around the United States. The fact that these practices disproportionately affect poor communities forces the communities to live near these high levels of pollution. This exposure to lead can affect children's development, cause miscarriages as well as other pregnancy risks, affect people’s hearts, and even cause reproductive issues.
            </p> </div>


            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center"><b>The Man Behind The Map</b></h1>
        <p>My name is Kimathi Bradford and I am a graduating senior in the computer science academy at Oakland Technical High School. I have a passion for reducing lead pollution and therefore chose to make an app about it. Lead pollution runs rampant in my hometown of Oakland and I think that tracking it could benifit many throughout the city. </p>
</div>

        
</div>

                


 



{% endblock %}